.Search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search div {
    margin: 0.5rem;
}

.Search input {
    padding: 0.5rem;
    border: 2px solid var(--app-primary);
    border-radius: 0.5rem;
}